<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/delete.js"></script>
    </head>

    <body>
        <center><h1>Contacto</h1>
        <hr size="10" color="black">
        <div id="detalle"></div>
        <button type="button" onclick="deleteContact()">Borrar</button>
        <a href="index.html">Cancelar</a>
        </center>
    </body>
    <script>
        function deleteContact() {
        const urlParams = new URLSearchParams(window.location.search);
        const email = urlParams.get('email');
        deleteData(email);
    }
    </script>
</html>

