<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contactos</title>
        <script type="text/javascript" src="../static/js/get_all.js"></script>
    </head>
    <body>
        <center>
            <div id="menu">
                <h1>Contactos</h1>
                <a href="buscar.html">Buscar</a>
                <a href="insertar.html">Insertar</a>
            </div>

        <hr size="10" color="black">
        <br>
        <table border="1" id="table_contactos">
            <thead id="thead_contactos">
                <th>Email</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Opciones</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
    </center>
        <script>
            document.body.onload = getAll();
        </script>
    </body>
</html>

