<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <script type="text/javascript" src="../static/js/get_all.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border: 2px solid black;
        }
        table th, table td {
            border: 1px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <center>
        <div id="menu">
            <h1>Contactos</h1>
            <a href="/buscar">Buscar</a>
            <a href="/insertar">Insertar</a>
        </div>
        <hr size="10">
        <table id="table_contactos">
            <thead id="thead_contactos">
                <th>Email</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Opciones</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
    </center>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            getAll();
        });
    </script>
</body>
</html>
