<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <script type="text/javascript" src="../static/js/get_all.js"></script>
    <style>
        table {
            border-collapse: collapse; /* Fusiona los bordes de las celdas */
            border: 2px solid black; /* Color del borde de la tabla */
        }
        table th, table td {
            border: 1px solid black; /* Color del borde de las celdas */
            padding: 5px; /* Agrega espacio dentro de las celdas */
        }
    </style>
</head>
<body>
    <center>
        <div id="menu">
            <h1>Contactos</h1>
            <a href="buscar.html">Buscar</a>
            <a href="insertar.html">Insertar</a>
        </div>
        <hr size="10">
        <table id="table_contactos">
            <thead id="thead_contactos">
                <th>Email</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Opciones</th>
            </thead>
            <tbody id="tbody_contactos">
            </tbody>
        </table>
    </center>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            getAll();
        });
    </script>
</body>
</html>
