<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/js/insert.js"></script>
    <title>Insertar Contacto</title>
</head>
<body>
    <center>
        <h1>Insertar Contacto</h1>
        <hr size="10">
        <form id="insert-form" name="insert-form">
            <p>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </p>
            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
            </p>
            <p>
                <label for="telefono">Telefono:</label>
                <input type="text" id="telefono" name="telefono">
            </p>
            <p>
                <button type="button" onclick="insertContact()">Enviar</button>
                <a href="/">Regresar</a>
            </p>
        </form>
    </center>
    <script>
       function insertContact() {
            var emailInput = document.getElementById("email");
            var nombreInput = document.getElementById("nombre");
            var telefonoInput = document.getElementById("telefono");
            var email = emailInput.value;
            var nombre = nombreInput.value;
            var telefono = telefonoInput.value;
            insertData(email, nombre, telefono);
        }
    </script>
</body>
</html>
