<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/js/insert.js"></script>
    <title>Document</title>
</head>
<body>
    <center><h1>Insertar</h1>
    <hr size="10" color="black">
    <form id="insert-form" name="insert-form">
        <p>
        <label for="email">Email:</label>
        <input type="text" id="nombre" name="nombre">
        </p>
        <p>
        <label for="email">Telefono:</label>
        <input type="text" id="telefono" name="telefono"  >
        </p>
        <p>
        <label for="email">Nombre:</label>
        <input type="text" id="email"  name="email" >
        </p>
        <p>
            <button type="button" onclick="insertContact()">Enviar</button>
            <a href="index.html">Regresar</a>
        </p>
    </form>

</center>
<script>
    function insertContact() {
        var nombreInput = document.getElementById("nombre");
        var telefonoInput = document.getElementById("telefono");
        var emailInput = document.getElementById("email");
        var email = emailInput.value;
        var telefono = telefonoInput.value;
        var nombre = nombreInput.value;
        insertData(nombre, telefono, email);
    }
</script>
</body>
</html>